<template>
  <div class="signup">
    <h1>{{ msg }}</h1>
    <ul v-for="item in items" :key="item">
    <li>{{ item }}<br><input v-model="signup"></li>
    </ul>
    <input type="checkbox" v-model="checked">
    {{checked ? "yes" : "no"}}
  </div>
</template>

<script>
export default {
  name: 'Signup',
  data () {
    return {
      msg: 'Signup',
      items: ['mail', 'username', 'nickname', 'password', 'password confirmation'],
      checked: false,
      rest: null
    }
  },
  created: function () {
    this.$http.get('http://192.168.116.24:5000/echos', {})
      .then(response => {
        // this.rest = response.bodyText
        // console.log(response.body)
        // console.log(this.rest)
        response.json()
        .then( data => {
          console.log(data)
          // this.rest = data.slice()
          // console.log(this.restcodebin)
        })
      })
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
li
{
    display: block;
    text-align: center;
}
</style>
